body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #ffe4e1;
}

#title {
    margin-bottom: 40px;
}

h1, h3 {
    text-align: center;
    color: #333;

    padding: 0px;
    margin: 0px;    
}

h1 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    border-radius: 10px;

    background: #ffc1cc;
}

form>div#type-selector {
    display: flex;
    flex-direction: row;
}

form>input, form>div>select {
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 1.1em;
    margin-bottom: 15px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

form>div>select {
    appearance: none;
    border: 0px;
    text-align: center;
}

form>button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background-color: #d8bfd8;
    color: #333;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

form>button:hover {
    background-color: #9955bb;
    transform: translateY(-2px)
}
