body {
    height: 100vh;
    margin: 0;
    background-color: #ffe4e1;
}

#title {
    margin-bottom: 40px;
}

h1, h3 {
    color: #333;

    padding: 0px;
    margin: 0px;    
}

h1 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: row;
	justify-content: center;

    padding: 20px;
    border-radius: 10px;
}

form>* {
	margin: 5px;
}

form>input {
    padding: 12px 15px;
	border: none;
	border-radius: 5px;
    font-size: 1.1em;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
	width: 50rem;
}

form>button {
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    background-color: #d8bfd8;
    color: #333;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

form>button#back {
	background-color: #F78181;
}

form>button:hover {
    background-color: #9955bb;
    transform: translateY(-2px)
}

form>button#back:hover {
	background-color: #DF0101;
}

div>#no-files {
	font-size: 1.5em;
	margin: 10px;

	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center; 

	h3 {
		font-size: 1.5rem;
	}
}

ul#files {
  list-style: none;
  padding: 10px;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  min-height: 80vh;
}

ul#files>li {
  padding: 10px;
}

ul#files>li>a {
  text-decoration: none;
  color: #333;
  font-size: 1.5em;
  display: block;
  padding: 5px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease;
}

ul#files>li>a:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
