<!DOCTYPE html>
<html>
    <head>
        <title>Uh oh!</title>
        <link rel="stylesheet" href="/assets/css/404.css">
        <link rel="stylesheet" href="/assets/css/fonts.css">
        <link rel="icon" type="image/png" href="/assets/favicon.png">
        <script>
            window.onload = function() {
                document.getElementById("home").onclick = function() {
                    location.href = "/"
                };
            }
        </script>
    </head>
    <body>
        <h1 id="title" class="bebas-neue-bold">The page you requested could not be found!</h1>
        <div>
            <button id="home">Home</button>
        </div>
    </body>
</html>