<!DOCTYPE html>
<html lang="en">
    <head session={{session_id}} website_url={{website_url}}>
        <link rel="stylesheet" href="/assets/css/index.css">
        <link rel="stylesheet" href="/assets/css/fonts.css">
        <link rel="icon" type="image/png" href="/assets/favicon.png">
        <script src="/assets/js/encode_form.js"></script>
        <script src="/assets/js/websocket.js"></script>
        <title>Convert a File</title>
    </head>
    <body>
        <div id="title">
            <h1 class="bebas-neue-bold">Simple File Converter</h1>
            <h1 class="bebas-neue-bold">for Mrs. Calhoun</h1>
        </div>
        <div id="content">
			<div id="status">
				<h3 id="status-message">Status Message</h3>
			</div>
            <form id="convert" action="/api/convert">
                <input 
                    type="file" 
                    id="input-file"
                    class="bebas-neue-regular"
                    name="input_file"
                    accept={{authorized_extensions}}
                    required
                />
                <div id="type-selector">
                    <select name="conversion_type" class="bebas-neue=regular" required>
                        <option value="pdf">PDF</option>
                        <option value="docx">DOCX</option>
                        <option value="pptx">PPTX</option>
                    </select>
                </div>
                <button id="submit" type="submit" class="bebas-neue-regular">
                    Convert
                </button>
            </form>
        </div>
    </body>
</html>
