<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/assets/css/search.css">
        <link rel="stylesheet" href="/assets/css/fonts.css">
        <link rel="icon" type="image/png" href="/assets/favicon.png">
        <script src="/assets/js/encode_form.js"></script>
        <title>Convert a File</title>
    </head>
    <body>
        <div id="content">
            <form id="search" action="/api/search">
				<h3 class="bebas-neue-bold">Search</h1>
				<input type="text" id="search-bar" placeholder="file_name.pdf"/>
                <button id="submit" type="submit" class="bebas-neue-regular">
                    Search
                </button>
            </form>
        </div>
    </body>
</html>
